@import './app.scss';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  :root {
    font-size: 130%;
  }
}

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.bg-blue {
  background-color: #1579f3;
}

.bg-yellow {
  background-color: #fec212;
}

.header {
  height: 700px;
  color: #fff;

  .logo {
      height: 250px;
  }
}

.title {
  font-family: 'Alfa Slab One';

  .title-main {
    font-size: 180px;
  }

  .title-secondary {
    font-size: 90px;
  }
}

.profile {
  .profile-image {
    height: 200px;
    border-radius: 50%;
  }

  .img-social {
    height: 30px;
    border-radius: 5px;
  }
}