//Colors
$primary: #239F78;

$text: #36424E;
$text01: #566676;
$shadow: 0px 4.1899px 25.1394px rgba(42, 78, 172, 0.08), 0px 25.1394px 16.7596px rgba(42, 78, 172, 0.09), 0px 8.3798px 16.7596px rgba(42, 78, 172, 0.07);
$background-radial-gradient: radial-gradient(50% 50% at 50% 50%, #45E885 14.06%, #3CD779 45.31%, #25BC60 100%);

$white: #FFFFFF;
$white02: #FAFCFE;
$black: #000000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #999999;
$gray-dark: #555555;
$gray-light: #DCDCDC;
$gray-light-02: #F1F1F1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//medias
$mobile: 768px;
$tablet: 1000px;
