<template>
    <div class="container-full">
        <div class="row header">
            <div class="col bg-blue h-100 d-flex align-items-end justify-content-center">
                <a href="https://sysvale.com" target="_blank">
                    <img class="logo" src="~/assets/img/sysvale.png" />
                </a>
            </div>
            <div class="col bg-yellow h-100 d-flex align-items-end justify-content-center">
                <a href="https://lpi.org" target="_blank">
                    <img class="logo" src="~/assets/img/lpi.png" />
                </a>
            </div>

            <div class="title position-absolute">
                <div class="title-main text-center">DevOps</div>
                <div class="title-secondary text-center">
                    Hello World
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="text-center">
                <h2>Artefatos</h2>
                <br>
                <ul>
                    <li>
                        <a href="https://docs.google.com/presentation/d/11mZeKjsCpJxPN8QwVKoZUatnwX_rM6OhmoVfoHOuskg/edit?usp=sharing" target="_blank">
                            Palestra TDC Inovation 2023 - Slides
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/sysvale-opensource/devops-hello-world-tdc" target="_blank">
                            Repositório do projeto
                        </a>
                    </li>
                    <li>
                        <a href="https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26" target="_blank">
                            The Wall Of Confusion by Stephen Kawaguchi
                        </a>
                    </li>
                    <li>
                        <a href="https://leonardo-matsumota.com/2019/06/18/the-three-ways-principio-das-tres-maneiras/" target="_blank">
                            The Three Ways - Princípio das três maneiras by by Leonardo Matsumota
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="container mt-5">
            <div class="text-center">
                    <h2>Quem somos</h2>
                </div>
            <div class="row mt-5">
                <div class="col">
                    <div class="profile">
                        <div class="text-center">
                            <img class="profile-image" src="~/assets/img/geidson.jpg" />
                            <div class="mt-3">Geidson Benício Coelho</div>
                            <a href="https://www.linkedin.com/in/geidsonc/" target="_blank">
                                <img class="img-social" src="~/assets/img/linkedin.png" />
                                <span class="ms-2">geidsonc</span>
                            </a>
                            <br>
                            <br>
                            <p class="px-4">
                                Formado em computação, pós-graduado em engenharia de software e ciência
                                de dados e analytics. Possui mais de 10 anos de experiência com desenvolvimento de sistemas para internet.<br>
                                Co-fundador e líder de tecnologia e operações na Sysvale.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="profile">
                            <div class="text-center">
                                <img class="profile-image" src="~/assets/img/gabriel.png" />
                                <div class="mt-3">Gabriel Bernardo</div>
                                <a href="https://www.linkedin.com/in/gabrielbernardomc/" target="_blank">
                                    <img class="img-social" src="~/assets/img/linkedin.png" />
                                    <span class="ms-2">gabrielbernardomc</span>
                                </a>
                                <br>
                                <br>
                                <p class="px-4">
                                    Estudante de engenharia da computação, atua como SRE Jr, com experiência em provisionamento
                                    e administração de infraestrutura como código em nuvem utilizando tecnologias como Linux, Docker, Ansible, Kubernetes, Git, GitLab CI/CD
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>